/*LEft navigation*/
/*book title*/
.wy-nav-side {
  color: #9c9fa2;
  background: #515353;
}

/*whole background*/
.wy-side-scroll {
    background-color: #515353;
}

/*Search box*/
.wy-side-nav-search {
  background-color: #458298;
}

/*Selected chapter*/
.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
  color: #01b3b6;
  background: #515353;
}

.wy-menu-vertical a {
    color: #FFFFFF;
    background: #515353;
}

/*Border around selected chapter*/
.wy-menu-vertical li.toctree-l1.current>a {
  border-bottom: none;
  border-top: none;
}

.wy-menu-vertical li.toctree-l2.current>a {
  background: #515353;
  padding: .4045em 2.427em;
  color: #b8babc;
}

/*Selected option expand-collapse button*/
.wy-menu-vertical li.on a span.toctree-expand, .wy-menu-vertical li.current>a span.toctree-expand {
    color: #FFFFFF;
    background: #515353;
}

/*Bottom of navigation*/
.rst-versions .rst-current-version {
  background-color: #458298;
}

/*tables*/
tr:nth-child(even) {
  background-color: #f2f2f2;
}

td, th {
    border: 1px solid #e1e4e5;
    border-collapse: collapse;
    padding: 6px;
}

th {
  background-color: #f2f2f2;
}

@media screen and (min-width: 1100px) {
  .wy-nav-content-wrap {
    background: #fcfcfc;
  }

  .wy-nav-content {
    margin: 0;
    background: #fcfcfc;
  }
}

/*Right Content Layout*/
.wy-nav-content {
    height: 100%;
    max-width: 100%;
    margin: auto;
}
