Top nav search bar
div.wy-side-nav-search {
  display: block;
  width: 300px;
  padding: .809em;
  margin-bottom: .809em;
  z-index: 200;
  background-color: #0695A7;
  text-align: center;
  padding: .809em;
  display: block;
  color: #fcfcfc;
  margin-bottom: .809em
}

Navigation Logo
a.icon.icon-home

#Book Title
.wy-side-nav-search {
  display: block;
  width: 300px;
  padding: .809em;
  margin-bottom: .809em;
  z-index: 200;
  background-color: #0695A7;
  text-align: center;
  padding: .809em;
  display: block;
  color: #fcfcfc;
  margin-bottom: .809em
}

#Bottom of navigation
.rst-versions .rst-current-version {
  padding: 12px;
  background-color: #0695A7;
  display: block;
  text-align: right;
  font-size: 90%;
  cursor: pointer;
  color: #27AE60;
  *zoom: 1
}

.fa-home:before, .icon-home:before {
  content: ""
}

a.icon.icon-home {
  background: url(/img/logo.svg);
}

.fa-home:before, .icon-home:before {
  background-image: url(/img/logo.png);
}

table

.wy-side-nav-search>a.icon img.logo, .wy-side-nav-search .wy-dropdown>a.icon img.logo {
  margin-top: .85em

}

#Nav background
.wy-nav-side
color: #515353
background: #1f1e1e

.wy-plain-list-disc, .rst-content .section ul, .rst-content .toctree-wrapper ul, article ul {
  list-style: disc;
  line-height: 24px;
}
